<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no" />
    <link rel="shortcut icon" href="/static/image/favicon.jpg" />

    <title>壁纸共享网站</title>

    <!-- JQuery -->
    <!-- <script src="/static/js/jquery.slim.min.js"></script> -->
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/js/bootstrap.min.js"></script>


    <!-- cdn文件 -->
    <!--     <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    -->

    <!-- 基础css文件 -->
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">

    {% block css %}{% end %}

</head>

<body class="add-bg">
    <!-- <div id="wrap"> -->
        <div id="header" class="add-bg">
            {% block header %}
                <nav class="navbar navbar-default navbar-default-bgcolor" role="navigation">
                    <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#example-navbar-collapse">
                            <span class="sr-only">切换导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">花火壁纸共享网站</a>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">首页</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    分类<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for x in result.get('categorys',[]) %}
                                    <li><a href="category.html?c_id={{ x.get('category_id') }}">{{ x.get('category_name') }}</a></li>
                                    {% end %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if user_nickname %}
                                <li><a href="/share_img.html">我要分享</a></li>
                                <li class=""><a href="/personal_info.html">{{ user_nickname }}</a></li>
                                <li class=""><a href="/login_out">退出</a></li>
                            {% else %}
                                <li class=""><a href="/login.html">登录</a></li>
                                <li class=""><a href="/register.html">注册</a></li>
                            {% end %}
                        </ul>
                    </div>
                    </div>
                </nav>
            {% end %}
        </div>
        <div id="content" >
            {% block content %}
                <h1>content</h1>
            {% end %}
        </div>
    <!-- </div> -->
    <div id="footer">
        {% block footer %}
            <div class="container">
                <div class="credit">
                <p class="muted">设计风格参考 <a href="http://www.dandyweng.com/" >Dandy Weng </a> 和 <a href="http://huaban.com/"> 花瓣 </a> </p>
                <p class="muted">本页面版权归<a href="https://github.com/HH-LFY/graduation_design">落风月</a>所有.</p>
                </div>
            </div>
        {% end %}
    </div>
    <!-- 基础js文件 -->
    <script type="text/javascript" color="255,124,0" opacity="0.8" count="200" src="/static/js/canvas-nest.min.js"></script>

    <!-- 可能需要操作DOM节点树的javascript，必须放在节点树后面引入 -->
    {% block js %}{% end %}
<script type="text/javascript">

{% if code != 200 %}
    alert('错误代码：{{ code }}\n错误原因：{{ code_msg }}');
{% end %}

</script>

    <div id='go-die'></div>
</body>


</html>