{% extends 'base.html' %}

{% block css %}

<link rel="stylesheet" type="text/css" href="/static/css/category.css">

{% end %}



{% block content %}

<div class="category-header">
    <h1>{{ result['now_catrgory']['category_name'] }}</h1>
    <button type="button" class="btn btn-danger">关注</button>
</div>

<div class="category-content">
    <div class="other-category">其他分类</div>
    <div class="other-list">
        <button type="button" class="btn btn-default">风景</button>
        <button type="button" class="btn btn-default">游戏</button>
        <button type="button" class="btn btn-default">美女</button>
        <button type="button" class="btn btn-default">创意</button>
        <button type="button" class="btn btn-default">其他</button>
    </div>

    <div class="box-img">
    <ul class="img-list">
        {% for i in xrange(len(result.get('imgs'))) %}
        {% if i%2 == 0 %}
        <li class="add-margin-right add-margin-bottom">
            <a href="/image_detail.html?img_id={{ result['imgs'][i].get('img_id') }}">
                <img src="{{ result['imgs'][i].get('img_addr_small') }}">
                <span class="add-item-praise">{{ result['imgs'][i].get('praise_num',0) }}</span>
            </a>
        </li>
        {% else %}
        <li class="add-margin-bottom">
            <a href="/image_detail.html?img_id={{ result['imgs'][i].get('img_id') }}"">
                <img src="{{ result['imgs'][i].get('img_addr_small') }}">
                <span class="add-item-praise">{{ result['imgs'][i].get('praise_num',0) }}</span>
            </a>
        </li>
        {% end %}
        {% end %}
    </ul>
    </div>

</div>
<div class="get-more-line">
    <a href="">加载更多</a>
</div>

{% end %}


{% block js %}

{% end %}