{% extends 'base.html' %}

{% block css %}

<link rel="stylesheet" type="text/css" href="/static/css/category.css">

{% end %}



{% block content %}

<div class="category-header">
    <h1>动漫</h1>
    <button type="button" class="btn btn-danger">关注</button>
</div>

<div class="category-content">
    <div class="other-category">其他分类</div>
    <div class="other-list">
        <button type="button" class="btn btn-default">风景</button>
        <button type="button" class="btn btn-default">游戏</button>
        <button type="button" class="btn btn-default">美女</button>
        <button type="button" class="btn btn-default">创意</button>
        <button type="button" class="btn btn-default">其他</button>
    </div>

    <div class="box-img">
    <ul class="img-list">
        <li class="add-margin-right add-margin-bottom">
            <a href="">
                <img src="/static/image/hot/1.png">
                <span class="add-item-praise">0</span>
            </a>
        </li>
        <li class="add-margin-bottom">
            <a href="">
                <img src="/static/image/hot/2.jpg">
                <span class="add-item-praise">0</span>
            </a>
        </li>
        <li class="add-margin-right add-margin-bottom">
            <a href="">
                <img src="/static/image/hot/2.png">
                <span class="add-item-praise">0</span>
            </a>
        </li>
        <li class="add-margin-bottom">
            <a href="">
                <img src="/static/image/hot/1.jpg">
                <span class="add-item-praise">0</span>
            </a>
        </li>
        <li class="add-margin-right add-margin-bottom">
            <a href="">
                <img src="/static/image/hot/3.png">
                <span class="add-item-praise">0</span>
            </a>
        </li>
        <li class="add-margin-bottom">
            <a href="">
                <img src="/static/image/hot/3.jpg">
                <span class="add-item-praise">0</span>
            </a>
        </li>
        <li class="add-margin-right add-margin-bottom">
            <a href="">
                <img src="/static/image/hot/5.jpg">
                <span class="add-item-praise">0</span>
            </a>
        </li>
        <li class="add-margin-bottom">
            <a href="">
                <img src="/static/image/hot/4.jpg">
                <span class="add-item-praise">0</span>
            </a>
        </li>
    </ul>
    </div>

</div>
<div class="get-more-line">
    <a href="">加载更多</a>
</div>

{% end %}


{% block js %}

{% end %}