{% extends 'base.html' %}

{% block css %}

<link rel="stylesheet" type="text/css" href="/static/css/index.css">

{% end %}



{% block content %}

<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        {% for i in xrange(len(result['feed_imgs'])) %}
        {% if i == 0 %}
        <li data-target="#myCarousel" data-slide-to="{{ i }}" class="active"></li>
        {% else %}
        <li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
        {% end %}
        {% end %}
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        {% for i in xrange(len(result['feed_imgs']))  %}
        {% if i == 0 %}
        <div class="item active">
        {% else %}
        <div class="item">
        {% end %}
            <img src="{{ result['feed_imgs'][i]['img_addr'] }}">
        </div>
        {% end %}
    </div>
    <!-- 轮播（Carousel）导航 -->
    <div class="edge">
        <a class="edge-left" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="edge-right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>
</div>



<div class="box-title">
    <p>本月最佳</p>
</div>
<div class="box-img">
    <div class="box-img-left add-margin-right">
        <a href="/image_detail.html?img_id={{ result['month_max_imgs'][2]['img_id'] }}">
            <img src="{{ result['month_max_imgs'][2]['img_addr_small'] }}">
            <span class="add-item-praise">{{ result['month_max_imgs'][2].get('praise_num',0) }}</span>
        </a>
    </div>
    <div class="box-img-right">
        <a href="/image_detail.html?img_id={{ result['month_max_imgs'][1]['img_id'] }}">
            <img src="{{ result['month_max_imgs'][1]['img_addr_small'] }}">
            <span class="add-item-praise">{{ result['month_max_imgs'][1].get('praise_num',0) }}</span>
        </a>
        <a href="/image_detail.html?img_id={{ result['month_max_imgs'][0]['img_id'] }}">
            <img src="{{ result['month_max_imgs'][0]['img_addr_small'] }}">
            <span class="add-item-praise">{{ result['month_max_imgs'][0].get('praise_num',0) }}</span>
        </a>
    </div>

</div>

<div class="box-title">
    <p>热门</p>
</div>
<div class="box-img">
    <div class="box-img-right add-margin-right">
        <a href="/image_detail.html?img_id={{ result['pv_max_imgs'][1]['img_id'] }}">
            <img src="{{ result['pv_max_imgs'][1]['img_addr_small'] }}">
            <span class="add-item-praise">{{ result['pv_max_imgs'][1].get('praise_num',0) }}</span>
        </a>
        <a href="/image_detail.html?img_id={{ result['pv_max_imgs'][0]['img_id'] }}">
            <img src="{{ result['pv_max_imgs'][0]['img_addr_small'] }}">
            <span class="add-item-praise">{{ result['pv_max_imgs'][0].get('praise_num',0) }}</span>
        </a>
    </div>
    <div class="box-img-left">
        <a href="/image_detail.html?img_id={{ result['pv_max_imgs'][2]['img_id'] }}">
            <img src="{{ result['pv_max_imgs'][2]['img_addr_small'] }}">
            <span class="add-item-praise">{{ result['pv_max_imgs'][2].get('praise_num',0) }}</span>
        </a>
    </div>
</div>


<div class="box-title">
    <p>最新上传</p>
</div>
<div class="box-img">
    <ul class="img-list">
        {% for i in xrange(len(result.get('new_imgs'))) %}
        {% if i%2 == 0 %}
        <li class="add-margin-right add-margin-bottom">
            <a href="/image_detail.html?img_id={{ result['new_imgs'][i].get('img_id') }}">
                <img src="{{ result['new_imgs'][i].get('img_addr_small') }}">
                <span class="add-item-praise">{{ result['new_imgs'][i].get('praise_num',0) }}</span>
            </a>
        </li>
        {% else %}
        <li class="add-margin-bottom">
            <a href="/image_detail.html?img_id={{ result['new_imgs'][i].get('img_id') }}"">
                <img src="{{ result['new_imgs'][i].get('img_addr_small') }}">
                <span class="add-item-praise">{{ result['new_imgs'][i].get('praise_num',0) }}</span>
            </a>
        </li>
        {% end %}
        {% end %}
    </ul>
</div>

<div class="get-more-line">
    <a href="">加载更多</a>
</div>


{% end %}


{% block js %}
<!--重点是引入hammer.min.js-->
<!-- <script type="text/javascript" src="http://cdn.bootcss.com/hammer.js/2.0.8/hammer.min.js"></script>
<script>
          $(function(){
            var myElement= document.getElementById('myCarousel');
            var hm=new Hammer(myElement);
            hm.on("swipeleft",function(){
                $('#myCarousel').carousel('next');
            })
            hm.on("swiperight",function(){
                $('#myCarousel').carousel('prev');
            })
        })
  </script> -->

{% end %}