{% extends 'base.html' %}

{% block css %}

{% end %}



{% block content %}

<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/image/test/01018465.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="/static/image/test/01022720.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="/static/image/test/61037184.jpg" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <div class="edge">
        <a class="edge-left" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="edge-right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>
</div>

{% end %}


{% block js %}

{% end %}