{% extends 'base.html' %}

{% block css %}

<link rel="stylesheet" type="text/css" href="/static/css/login.css">

{% end %}


{% block content %}

<div class="login-box">

<form accept="/login.html" method="post">
  {%raw xsrf_form_html() %}
  <div class="login-title"><h1>登录</h1></div>
  <div class="form-group">
    <label for="username">用户名</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
  </div>
  <div class="form-group">
    <label for="password">密码</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="密码">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" checked="checked"> 记住密码
    </label>
  </div>
  <button type="submit" class="btn btn-default">提交</button>
</form>

</div>

{% end %}


{% block js %}

{% end %}