{% extends 'base.html' %}

{% block css %}

<link rel="stylesheet" type="text/css" href="/static/css/register.css">

{% end %}


{% block content %}

<div class="register-box">

<form action="/register.html" method="POST">
  {%raw xsrf_form_html() %}
  <div class="register-title"><h1>注册</h1></div>
  <div class="form-group">
    <label for="name">姓名</label>
    <input type="text" class="form-control" id="name" placeholder="姓名"  name="name">
  </div>
  <div class="form-group">
    <label for="username">用户名</label>
    <input type="text" class="form-control" id="username" placeholder="用户名" name="username">
  </div>
  <div class="form-group">
    <label for="password">密码</label>
    <input type="password" class="form-control" id="password" placeholder="密码" name="password">
  </div>
  <div class="form-group">
    <label for="repawwword">重复密码</label>
    <input type="password" class="form-control" id="repawwword" placeholder="重复密码" name="repawwword">
  </div>
  <button type="submit" class="btn btn-default">注册</button>
</form>

</div>

{% end %}


{% block js %}

{% end %}