
*{
    margin: 0rem;
    padding: 0rem ;
}

html,body{
    height: 100% !important;
    margin: 0rem !important;
    padding: 0rem  !important;
}

img{
    border-radius: 0.5rem;
}

@media (min-width: 480px) {
    html {
        font-size: 16px;
    }
}
@media (min-width: 421px) and (max-width: 479px) {
    html {
        font-size: 12px;
    }
}
@media (max-width: 420px) {
    html {
        font-size: 10px;
    }
}

p{
    font-size: 1rem;
}

/*通用css*/

.add-margin-right{
    margin-right: 0.5rem !important;
}

.add-margin-left{
    margin-left: 0.5rem !important;
}

.add-margin-top{
    margin-top: 0.5rem !important;
}

.add-margin-bottom{
    margin-bottom: 0.5rem !important;
}

.add-bg{
    /*background:url(/static/image/base/bg.jpg);*/
    background-color: #f8f8f8 !important;
}

.add-flex{
    display: flex !important;
}

.add-item-praise{
    position: absolute !important;
    bottom: 1rem;
    left: 1rem;
    padding-left: 1.2rem;
    color: #000;
    opacity: 0.8 !important;
    background: url(/static/image/base/dianzan.png) no-repeat;
    background-size: contain;
}

.add-item-praise-big{
    position: absolute !important;
    left: 1rem;
    padding-left: 1.2rem;
    color: #000;
    opacity: 0.8 !important;
    background: url(/static/image/base/dianzan.png) no-repeat;
    background-size: contain;
    bottom: 7rem;
}

.img-praise{
    background: url(/static/image/base/dianzan.png) no-repeat !important;
    background-size: contain !important;
    padding-left: 2rem;
}

.img-down{
    background: url(/static/image/base/down.png) no-repeat !important;
    background-size: contain !important;
    padding-left: 2rem;
}

.img-like{
    background: url(/static/image/base/like.png) no-repeat !important;
    background-size: contain !important;
    padding-left: 2rem;
}

.img-like-fill{
    background: url(/static/image/base/like_fill.png) no-repeat !important;
    background-size: contain !important;
    padding-left: 2rem;
}

.get-more-line{
    border-radius: 2px;
    position: relative;
    padding: 1.2rem 0;
    text-align: center;
}

.get-more-line a{
    display: inline-block;
    width: 18%;
    background-color: #f5f5f5;
    padding: 0.5rem;
    color: #999;
    opacity: 0.8;
}

.get-more-line a:hover{
    opacity: 1;
}

.get-more-line:before,
.get-more-line:after{
    display: inline-block;
    width: 30%;
    content: "";
    border: 0.1rem solid #ededed;
}

.display-none{
    display: none !important;
}

/* headers */
.navbar-default-bgcolor{
    background-color: #f3f3f3 !important;
}
.navbar{
    margin-bottom: 0rem !important;
}

/* footer */
#footer{
    background-color: #002;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3.75rem;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container .credit{
    margin: 1.25rem 0;
    text-align: center;
}

.container .credit p{
    margin: 0rem;
}

/* content */

#content{
    margin: auto;
}

.item>img{
    margin: auto;
}

/*轮播箭头*/
.edge{
    position: absolute;
    display: flex;
    top: 0rem;
    height: 100%;
    width: 100%;
    font-size: 10rem;
    align-items: center;
}

.edge a{
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    text-decoration: none !important;
    color: #f5f5f5;
}

.edge a:visited{
    color: #222;
}

.edge a:focus,
.edge a:hover{
    color: #fff;
}

.edge-left{
    margin-left: 10%;
}

.edge-right{
    margin-right: 10%;
    flex-direction: row-reverse;
}

.go-die{
    display: none;
}

#go-die + div{
    display: none;
}

#left-nav{
    width: 11rem;
    border-right: 0.1rem solid;
    border-color: gainsboro;
    height: 51.8rem;
    padding-top: 5rem;
    text-align: right;
}

.manage-box{
    width: 100rem;
    /*height: 51.8rem;*/
    padding-top: 5rem;
    padding-left: 1rem;
}

div{
    /*border: 0.1rem solid red;*/
}