
.box-title{
    width: 60rem;
    overflow: hidden;
    margin: auto;
}

.box-title p{
    font-size: 2rem;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

.box-img{
    width: 60rem;
    overflow: hidden;
    margin: auto;
}

.box-img a{
    display: block;
    position: relative;
}

.box-img img{
    opacity:0.9;
}

.box-img img:hover{
    opacity:1;
}

.box-img-left{
    width: 39.16rem;
    height: 26.11rem;
    float: left;
}

.box-img-left img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.box-img-right{
    float: left;
    width: 19.58rem;
    height: 26.11rem;
}

.box-img-right img{
    height: 49%;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-bottom: 2%;
}

.img-list li{
    width: 29.375rem;
    height:20rem;
    margin: 0rem;
    padding: 0rem;
    overflow: hidden;
    float: left;
}

.img-list img{
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}



div{
    /*border: red solid 2px;*/
}