
.box-title{
    width: 60rem;
    overflow: hidden;
    margin: auto;
}

.box-title p{
    font-size: 2rem;
}

.box-img{
    width: 60rem;
    overflow: hidden;
    margin: auto;
}


.box-img-left{
    width: 39.16rem;
    height: 26.11rem;
    float: left;
}

.box-img-left img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.add-margin-right{
    margin-right: 0.5rem;
}

.box-img-right{
    float: left;
    width: 19.58rem;
    height: 26.11rem;
}

.box-img-right img{
    height: 49%;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-bottom: 2%;
}


div{
    /*border: red solid 2px;*/
}