{% extends 'base.html' %}

{% block css %}

<link rel="stylesheet" type="text/css" href="/static/css/manage/user.css">

{% end %}


{% block content %}

<div class="manage-box">
    <div>
        <form class="form-inline add-margin-bottom" action="/manage/category_manage/add" method="post">
            {%raw xsrf_form_html() %}
            <div class="form-group">
                <input type="text" name="category_name" class="form-control" placeholder="分类名称" />
                <input type="text" name="category_remark" class="form-control" placeholder="备注" />
            </div>
            <button type="submit" class="btn btn-default">添加</button>
        </form>
    </div>
    <table class="table table-hover">
        <tr>
            <th>分类id</th><th>父类id</th><th>分类名称</th><th>分类备注</th><th>操作</th>
        </tr>
        {% for x in result.get('categorys',[]) %}
        <tr>
            <td>{{ x.get('category_id') }}</td><td>{{ x.get('category_pid') }}</td><td>{{ x.get('category_name') }}</td><td>{{ x.get('reserve_1','无') }}</td><td><a href="">删除</a></td>
        </tr>
        {% end %}
    </table>
</div>

{% end %}
